In [27]:
import pandas as pd
import numpy as np

os dados a seguir referem-se ao número de livros adquiridos no ano passado pelos 40 alunos da turma A

Os dados brutos são: 4,2,1,0,3,1,2,0,2,1,0,2,1,1,0,4,3,2,3,5,8,0,1,6,5,3,2,1,6,4,3,4,3,2,1,0,2,1,0,3

In [ ]:
books = [4,2,1,0,3,1,2,0,2,1,0,2,1,1,0,4,3,2,3,5,8,0,1,6,5,3,2,1,6,4,3,4,3,2,1,0,2,1,0,3]
sum(books)

np.int64(92)

In [29]:
len(books)

40

In [30]:
student_book_amount = {}
for i in range(0, len(books)):
    student_book_amount[f'Aluno {i}'] = books[i]

student_book_amount

{'Aluno 0': np.int64(4),
 'Aluno 1': np.int64(2),
 'Aluno 2': np.int64(1),
 'Aluno 3': np.int64(0),
 'Aluno 4': np.int64(3),
 'Aluno 5': np.int64(1),
 'Aluno 6': np.int64(2),
 'Aluno 7': np.int64(0),
 'Aluno 8': np.int64(2),
 'Aluno 9': np.int64(1),
 'Aluno 10': np.int64(0),
 'Aluno 11': np.int64(2),
 'Aluno 12': np.int64(1),
 'Aluno 13': np.int64(1),
 'Aluno 14': np.int64(0),
 'Aluno 15': np.int64(4),
 'Aluno 16': np.int64(3),
 'Aluno 17': np.int64(2),
 'Aluno 18': np.int64(3),
 'Aluno 19': np.int64(5),
 'Aluno 20': np.int64(8),
 'Aluno 21': np.int64(0),
 'Aluno 22': np.int64(1),
 'Aluno 23': np.int64(6),
 'Aluno 24': np.int64(5),
 'Aluno 25': np.int64(3),
 'Aluno 26': np.int64(2),
 'Aluno 27': np.int64(1),
 'Aluno 28': np.int64(6),
 'Aluno 29': np.int64(4),
 'Aluno 30': np.int64(3),
 'Aluno 31': np.int64(4),
 'Aluno 32': np.int64(3),
 'Aluno 33': np.int64(2),
 'Aluno 34': np.int64(1),
 'Aluno 35': np.int64(0),
 'Aluno 36': np.int64(2),
 'Aluno 37': np.int64(1),
 'Aluno 38': np.int64(0),
 'Aluno 39': np.int64(3)}

In [32]:
df = pd.DataFrame(data=student_book_amount.items(), columns=["Turma A", "Livros adquiridos"])
df.head()

   Turma A  Livros adquiridos
0  Aluno 0                  4
1  Aluno 1                  2
2  Aluno 2                  1
3  Aluno 3                  0
4  Aluno 4                  3